/*@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";*/

* {
   box-sizing:border-box;
   margin: 0;
   padding: 0;
  
}

.forecast {
    border: 2px solid black;
}


#header {
    display: flex;
    justify-content: center;
    text-align:center;
    font-size:x-large;
}


#todaysWeather {
    border-style: solid;
    border-color: blue;
}





button {
    size: 20px;
}